<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/offers_cart.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <%- include("partials/_header") %>
    <main>
      <h3 id="title"><b>SHOPPING CART</b></h3>
      <div><% for (let offer of offers) { %></div>
        <div class="whole_container">
          <img class="offer_picture" src='<%= offer.photo_url %>'/>
          <div class="detail_container" >
            <div class="header_container">
              <span id="user_id"><%= offer.name %></span>
              <form method="POST" action="/cart/<%= offer.id %>/delete">
                <button type="sumbit" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </form>
            </div>
            <div class="description_and_status">
              <div class="description">
                <td><%= offer.description %></td>
              </div>
              <div>
                <span id="price"><b>Price : $ <%= offer.price_of_product/100 %></b></span>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <div class="checkout">
          <p>Total Price : $ <%= totalPrice/100 %></p>
          <form method="POST" action="/checkout/<%= buyerId %>">
            <button type="submit" class="btn btn-success">Checkout</button>
          </form>
        </div>
    </main>
    <%- include("partials/_footer") %>
  </body>
</html>
