<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- style sheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel="stylesheet" href="/styles/products.css" type="text/css" />

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%- include("partials/_header") %>
  <main>
    <!-- will include an if statement so filter pictures can be based off gender -->
    <% if (filter === "mens" ) { %>
    <span class="filterSpan">
      <img class="filterStyle" src="\images\running_shoe.jpeg">
      <img class="filterStyle" src="\images\mens_pants.jpeg">
      <img class="filterStyle" src="\images\shirt.jpeg">
      <img class="filterStyle" src="\images\mens_hoodie.jpeg">
    </span>
    <% } else if (filter === "womens") {%>
      <span class="filterSpan">
        <img class="filterStyle" src="\images\womens_shoe.jpeg">
        <img class="filterStyle" src="\images\womens_shirt.jpeg">
        <img class="filterStyle" src="\images\womens_leggings.jpeg">
        <img class="filterStyle" src="\images\womens_hoodie.jpeg">
      </span>
    <% } else if (filter === "all") { %>
    <span class="filterSpan">
      <img class="filterStyle" src="\images\running_shoe.jpeg">
      <img class="filterStyle" src="\images\womens_shirt.jpeg">
      <img class="filterStyle" src="\images\womens_leggings.jpeg">
      <img class="filterStyle" src="\images\mens_hoodie.jpeg">
    </span>
    <% } %>
    <div class="products-wrapper"><% for (let item of items) { %>
    <span class="filterItems">
      <div class="itemStyle">
        <img src="\images\shirt.jpeg">
        <span class="userSpanStyle"><%= item.username %></span>
        <span class="description"><%= item.description %></span>
        <!-- <form method="POST" action="/products/<%= item.id %>/2">
        </form> -->
        <button class="buyNow">buy now</button>
      </div>
    </span>
    <% } %>
  </div>
  </main>
  <%- include("partials/_footer") %>
</body>
</html>

